.customer-offer-form {
    row-gap: 24px;
}

.customer-offer-form p:first-child {
    color: #004470;
    font-family: "Lato", "Courier New", Courier, monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 122.222% */
}

@media (max-width: 576px) {
    .customer-offer-form p:first-child span {
        leading-trim: both;
        text-edge: cap;
        font-size: 22px;
        font-weight: 800;
    }
}

.customer-offer-form .form-field {
    height: auto;
}

.customer-offer-form .form-field .form-input {
    height: 46px;
    position: relative;
}

.customer-offer-form .form-field .form-input + small {
    color: rgb(233, 12, 12);
    font-size: 12px;
    font-weight: 500;
}

.customer-offer-form .form-field .form-input input {
    outline: none;
    width: 100%;
    height: 100%;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.customer-offer-form .form-field label {
    color: rgba(0, 68, 112, 0.5);
    font-family: "Lato", "Courier New", Courier, monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

    position: absolute;
    top: 13px;
    left: 16px;
    transition: all 200ms linear;
}

.customer-offer-form .form-field input:focus + label,
.customer-offer-form
    .form-field
    input:not(:focus):not(:placeholder-shown)
    + label {
    background-color: #fff;
    font-size: 12px;
    padding: 0 3px;
    top: -9px;
    left: 13px;
}

.customer-offer-form .form-terms {
    display: flex;
    align-items: start;
    column-gap: 8px;
}

.customer-offer-form .form-terms input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.customer-offer-form .form-terms p {
    color: rgba(0, 68, 112, 0.5);
    font-family: "Lato", "Courier New", Courier, monospace;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.customer-offer-form .form-terms p a {
    color: #20a6ff;
    font-family: "Lato", "Courier New", Courier, monospace;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.customer-offer-form .form-button {
    display: grid;
    place-items: center;
}

.customer-offer-form .form-button button {
    color: #fff;
    width: 186px;
    height: 45px;
    background: linear-gradient(
        98deg,
        #a281e5 0.01%,
        #8d4ef9 24.85%,
        #4764ff 70.51%,
        #1ca4ff 94.28%
    );
    border: none;
    border-radius: 22px;

    font-family: "Lato", "Courier New", Courier, monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;

    padding: 12px 32px;

    text-align: center;
    line-height: 18px;
    letter-spacing: 0.24px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}

.customer-offer-form .form-button button:not(:disabled):hover {
    transform: scale(1.025);
}

.customer-offer-form .form-button button:disabled {
    background: none;
    background-color: #bdbdbd;
}
